* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
	--primary-color: #990000; 
    --primary-color-accent: #e00606; 
	--secondary-color: #fdfcfc;
	--tertiary-color: #353535;
    --quaternary-color: #ebebeb;
	color: var(--tertiary-color);
	text-align: center;
	margin: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    overflow: hidden;
    z-index: 999;
}

.logo {
	height: 50px;
    margin-left: 0%;
}

.nav-button {
    padding: 18px 8px;
    text-align: center;
    color: var(--tertiary-color);
    font-size: calc(16px + .5vw);
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#home-nav-button {
    margin-left: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.intro {
    background-color: var(--quaternary-color);
    padding: 2vh 8vw;
    font-size: calc(12px + .5vw);
}

.profile-1, .profile-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.profile-2 {
    flex-direction: row-reverse;
    background-color: var(--quaternary-color);
}

.profile-photo {
    height: calc(150px + 5vw);
    margin: 1.5vw;
    border: 1vh solid var(--primary-color);
}

.profile-text {
    width: 60%;
    padding: 30px 10px 30px 10px;
    text-align: left;
    font-size: calc(12px + .5vw);
}

.alumni {
    padding: 2vh 8vw;
    background-color: var(--secondary-color);
    font-size: calc(16px + 2vw);
    text-align: center;
}

h1 {
    font-size: calc(14px + .5vw);
    padding-bottom: 5px;
}

h2 {
    font-size: calc(12px + .5vw);
    padding-bottom: 5px;
}

p {
    text-align: justify;
}

/* Sidebar */
.side-nav {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 999; 
    top: 0; 
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden; 
    padding-top: 100px; 
    transition: 0.5s;
}

.side-nav-content {
    display: flex;
    padding: 20px 8px 20px 16px;
    flex-direction: row;
    align-items: center;
}

.side-nav-content img {
    height: 4vh;
    filter: invert(100%);
    margin-left: 20px;
}

.side-nav a {
    padding-left: 32px;
    text-decoration: none;
    font-size: 4vh;
    color: var(--secondary-color);
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.side-nav a:hover {
    color: var(--tertiary-color);
}

.side-nav .side-nav-close {
    height: 4vh;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 100px;
}

.side-nav-open, .side-nav {
    display: none;
}

/* Timeline Page */

.timeline-1, .timeline-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--quaternary-color);
}

.timeline-2 {
    background-color: var(--secondary-color);
}

.arrow-1, .arrow-2 {
    position: relative;
    width: 75px;
    background-color: var(--primary-color);
}
.arrow-2 {
    background-color: var(--primary-color-accent);
}

.arrow-cap-left, .arrow-cap-right {
    position: absolute;
    width: 50%;
    height: 40px;
    left: 0px;
    top: 0px;
    background: linear-gradient(to left bottom, var(--primary-color-accent) 50%, transparent 50%)
}
.arrow-cap-right {
    left: 50%;
    background: linear-gradient(to right bottom, var(--primary-color-accent) 50%, transparent 50%)
}
.arrow-2 .arrow-cap-left {
    background: linear-gradient(to left bottom, var(--primary-color) 50%, transparent 50%)
}
.arrow-2 .arrow-cap-right {
    background: linear-gradient(to right bottom, var(--primary-color) 50%, transparent 50%)
}
.timeline-2 #final-arrow .arrow-cap-left {
    top: 100%;
    background: linear-gradient(to left bottom, var(--primary-color-accent) 50%, transparent 50%)
}
.timeline-2 #final-arrow .arrow-cap-right {
    top: 100%;
    background: linear-gradient(to right bottom, var(--primary-color-accent) 50%, transparent 50%)
}
.timeline-1 #final-arrow .arrow-cap-left {
    top: 100%;
    background: linear-gradient(to left bottom, var(--primary-color) 50%, transparent 50%)
}
.timeline-1 #final-arrow .arrow-cap-right {
    top: 100%;
    background: linear-gradient(to right bottom, var(--primary-color) 50%, transparent 50%)
}

.timeline-container {
    display: flex;
    width: 60%;
    padding: 30px 10px 30px 10px;
    margin: 0 5vw 0 5vw;
    text-align: left;
    font-size: calc(12px + .5vw);
    justify-content: space-between;
    align-items: center;
}

.timeline-container-image {
    display: flex;
    width: 60%;
    padding: 30px 10px 30px 10px;
    margin: 0 5vw 0 5vw;
    text-align: left;
    font-size: calc(12px + .5vw);
    justify-content: space-between;
    align-items: center;
}

.timeline-text {
    width: 100%;
}

.timeline-container-image img {
    border: 1vh solid var(--primary-color);
    padding: 0;
    margin-top: 10px;
    width: 40%;
}

/* About AD Page */

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--quaternary-color);
}

.article-text {
    width: 60%;
    font-size: calc(12px + .5vw);
    padding: 1vh 0 1vh 0;
}

.figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh 0 1vh 0;    
}

.figure-caption {
    font-size: calc(10px + .5vw);
    padding: 1vh 0 1vh 0;    
}


@media only screen and (orientation: portrait) {
    .profile-1, .profile-2 {
        flex-direction: column;
    }

    .profile-text {
        width: 70%;
        padding-bottom: 30px;
    }

    .profile-photo {
        margin-top: 30px;
        margin-bottom: 0;
        height: calc(300px + 5vw);
    }

    h1, h2 {text-align: center;}

    .nav-button {font-size: calc(18px + .5vw);}

    .sticky + .content {padding-top: 8vh;}

    .logo {height: 8vh;}

    .content {padding-top: 0vh;}

    .arrow-1, .arrow-2 {width: 12vw;}
    .arrow-cap-left, .arrow-cap-right {height: 4vh;}
    .timeline-text p {text-align: left;}
    .timeline-container-image {flex-direction: column;}
    .timeline-container-image img {width: 80%;}

    .article-text {text-align: left;}

    /* Side Nav */

    .side-nav {
        display: block;
    }
    .side-nav-open {
        height: 4vh;
        display: block;
        margin-right: auto;
        margin-left: 20px;
        cursor: pointer;
    }

    #header a {display: none;}
    #header {flex-direction: row-reverse;}

}
