* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
	--primary-color: #990000; 
	--secondary-color: #fdfcfc;
	--tertiary-color: #353535;
    --quaternary-color: #ebebeb;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	text-align: center;
	margin: 0;
	height: 100%;
	font-family: Helvetica;
}

#header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    overflow: hidden;
	z-index: 99;
}

.logo {
	height: 50px;
    margin-left: 0%;
}

.nav-button {
    padding: 18px 8px;
    text-align: center;
    color: var(--tertiary-color);
    font-size: calc(16px + .5vw);
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#home-nav-button {
    margin-left: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Sections */

.section {
    margin: 20px;
	margin-top: 2px;
    color: var(--tertiary-color);
    text-align: justify;
}

.container {
	margin-bottom: 20px;
	padding: 15px;
	background-color: var(--quaternary-color);
}

/* Sidebar */
.side-nav {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 999; 
    top: 0; 
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden; 
    padding-top: 100px; 
    transition: 0.5s;
}

.side-nav-content {
    display: flex;
    padding: 16px 8px 16px 16px;
    flex-direction: row;
    align-items: center;
}

.side-nav-content img {
    height: 6vh;
    filter: invert(100%);
    margin-left: 20px;
}

.side-nav a {
    padding-left: 32px;
    text-decoration: none;
    font-size: 6vh;
    color: var(--secondary-color);
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.side-nav a:hover {
    color: var(--tertiary-color);
}

.side-nav .side-nav-close {
    height: 4vh;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 100px;
}

.side-nav-open, .side-nav {
    display: none;
}

/* Calculator */

#form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.group-fieldset {
	width: 49.5%;
}

.calculator-fieldset {
	position: relative;
	margin: 5px 0;
	padding: 0px 5px;
}

#form-container input {
	width: 20%;
	float: right;
	padding: 0px 2px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: rgb(250, 250, 250);
	text-align: end;
}

#form-container button {
	background-color: rgb(135, 228, 135);
	padding: 2px;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 1.5em;
}

.tooltip-text, .tooltip-text-right {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: black;
	opacity: 85%;
	color: white;
	text-align: center;
	font-weight: normal;
}

label .tooltip-text {
	left: 10px;
}

th .tooltip-text {
	left: 10px;
	right: -150px;
}

th .tooltip-text-right {
	right: 10px;
	left: -150px;
}

.tooltip-text::after , .tooltip-text-right::after {
	content: " ";
	position: absolute;
	top: 100%; 
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip-text::after {
	left: 10px;
}

.tooltip-text-right::after {
	right: 10px;
}

label:hover .tooltip-text, th:hover .tooltip-text, th:hover .tooltip-text-right, .result-display:hover .tooltip-text {
	visibility: visible;
}

table {
	position: relative;
	border-collapse: collapse;
}

th, td {
	position: relative;
	border: 1px solid black;
	padding: 2px;
	text-align: right;
}

th {
	text-align: center;
}

#results-container {
	overflow-x: scroll;
}

.result-display-heading {
	border-bottom: 2px solid black;
}

.result-display {
	position: relative;
	margin: 3px 0;
	border-bottom: 1px solid black;
}

.result-number {
	float: right;
}

.NPV-result-display {
	position: relative;
	margin: 3px 0;
}

/* Removing Input Arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media only screen and (orientation: portrait) {
	#form-container {
		flex-direction: column;
	}

	.group-fieldset {
		width: 99%;
	}

    .header {
        min-height: 100px;
    }

    .nav-button {
        font-size: calc(18px + .5vw);
    }

	.sticky + .content {
		padding-top: 8vh;
	}

	.logo {height: 8vh;}

    /* Side Nav */

    .side-nav {
        display: block;
    }
    .side-nav-open {
        height: 4vh;
        display: block;
        margin-right: auto;
        margin-left: 20px;
        cursor: pointer;
    }

    #header a {display: none;}
    #header {flex-direction: row-reverse;}

}
