* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
	background-image: url("../Assets/Anaerobic Plant.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	--primary-color: #990000; 
	--secondary-color: #eee8e8;
	--tertiary-color: #353535;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	text-align: center;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.layer {
	background-color: rgba(232, 232, 232, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo {
	position: absolute;
	height: 12%;
	left: 0%;
}

.square {
	position: absolute;
	width: 20vw;
    height: 20vw;
	top: 50%;
    left: 50%;
	transform: translate(-110%,-65%);
	background-color: var(--primary-color);
    opacity: 1;
    cursor: pointer;
    border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: transform 1s ease;
}
.square:hover {
	transform: translate(-110%,-65%) scale(0.95);
}

#our-work-square {
	transform: translate(10%,-65%);
}
#our-work-square:hover {
	transform: translate(10%,-65%) scale(0.95);
}

#about-AD-square {
	transform: translate(-230%,-65%);
}
#about-AD-square:hover {
	transform: translate(-230%,-65%) scale(0.95);
}

#calculator-square {
	transform: translate(130%,-65%);
}
#calculator-square:hover {
	transform: translate(130%,-65%) scale(0.95);
}

h1 {
	color: var(--tertiary-color);
	font-size: 2vw;
}

h2 {
	color: var(--secondary-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
}

.mission-statement {
	position: absolute;
	width: 75%;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0);
}

.icon {
	height: 50%;
	filter: invert(100%);
	padding-bottom: 5%;
}

#wrench-icon {
	height: 40%;
	padding: 5% 5% 10% 5%;
}


@media only screen and (orientation: portrait) {
	.layer {height: 200%;}

    .logo {height: 10%;}

	h1 {font-size: 3vh;}
	h2 {font-size: 3vh;}

	.mission-statement {top: 12%;}
	.mission-statement h1 {font-size: calc(30px + .5vw);}
	
	.square {
		width: 30vh;
		height: 30vh;
		transform: translate(-50%,50%);
		animation: 8s infinite forwards us_emphasize;
		animation-delay: 2s;
	}
	.square:hover {
		transform: translate(-50%,50%) scale(0.95);
	}
	
	#about-AD-square {
		transform: translate(-50%,-80%);
		animation: 8s infinite forwards ad_emphasize;
		animation-delay: 0s;
	}
	#about-AD-square:hover {
		transform: translate(-50%,-80%) scale(0.95);
	}
	
	#our-work-square {
		transform: translate(-50%,180%);
		animation: 8s infinite forwards work_emphasize;
		animation-delay: 4s;

	}
	#our-work-square:hover {
		transform: translate(-50%,180%) scale(0.95);
	}

	#calculator-square {
		transform: translate(-50%,310%);
		animation: 8s infinite forwards calc_emphasize;
		animation-delay: 6s;
	}
	#calculator-square:hover {
		transform: translate(-50%,310%) scale(0.95);
	}

	@keyframes us_emphasize {
		0% {transform: translate(-50%,50%) scale(1);}
		40% {transform: translate(-50%,50%) scale(1);}
		50% {transform: translate(-50%,50%) scale(0.95);}
		60% {transform: translate(-50%,50%) scale(1);}
		100% {transform: translate(-50%,50%) scale(1);}
	}
	@keyframes ad_emphasize {
		0% {transform: translate(-50%,-80%) scale(1);}
		40% {transform: translate(-50%,-80%) scale(1);}
		50% {transform: translate(-50%,-80%) scale(0.95);}
		60% {transform: translate(-50%,-80%) scale(1);}
		100% {transform: translate(-50%,-80%) scale(1);}
	}
	@keyframes work_emphasize {
		0% {transform: translate(-50%,180%) scale(1);}
		40% {transform: translate(-50%,180%) scale(1);}
		50% {transform: translate(-50%,180%) scale(0.95);}
		60% {transform: translate(-50%,180%) scale(1);}
		100% {transform: translate(-50%,180%) scale(1);}
	}
	@keyframes calc_emphasize {
		0% {transform: translate(-50%,310%) scale(1);}
		40% {transform: translate(-50%,310%) scale(1);}
		50% {transform: translate(-50%,310%) scale(0.95);}
		60% {transform: translate(-50%,310%) scale(1);}
		100% {transform: translate(-50%,310%) scale(1);}
	}

}